<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.melo.mapper.ProductMapper">

    <resultMap id="BaseResultMap" type="com.melo.entity.Product">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
             <result property="isEnable" column="is_enable" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,desc,
        type,is_enable
    </sql>


    <select id="getProductDataForMobile" resultType="com.example.dto.ProductEntityDTO">
        SELECT * FROM product
        WHERE 1=1
        <if test="query.category != null">
            AND category = #{query.category}
        </if>
        <if test="query.name != null">
            AND name LIKE CONCAT('%', #{query.name}, '%')
        </if>
        <!-- 你可以在此处添加其他的查询条件 -->
        LIMIT #{query.pageNum}, #{query.pageSize}
    </select>



</mapper>
